.grid-3{
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dashboard-content {
    width: 90%;
    margin: auto;
}