.grid-3{
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dashboard-content {
    width: 90%;
    margin: auto;
}

.dashboardView-selectorContainer{
    margin-bottom: 60px;
}

.dashboardView-selector{
    padding: 5px 15px;
    margin: 10px;
    border: none;
    background-color: rgb(58, 58, 58);
    color: inherit;
    border-radius: 5px;
    font-size: 14px;
}