.crawler-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8e8e8e;
    border-radius: 10px;
    padding: 15px;
}

.crawl-cta{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #dcbf00;
    width: max-content;
    font-size: 16px;
    color: #fff;
    margin-left: auto;
}