.table{
    background-color: #5c5c5c;
    padding: 15px;
    border-radius: 10px;
}

.table-header{
    font-size: 18px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

.table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 0;
}