.dashboard-header {
    width: 100%;
    max-height: 88px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    background-color: rgb(63, 63, 63);
    color: rgb(197, 197, 197);
}

.dashboard-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.clock {
    color: rgb(197, 197, 197);
    margin: 0;
}

.dashboard-name {
    padding: 0px 20px;
    font-size: 14px;
}

.dashboard-header>.dashboard-profile .content-img {
    margin: 0;
    width: 30px;
    height: 30px;
    border-width: 2.5px;
    border-color: var(--intastellarGold);
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.28);
}

.dashboard-logo {
    width: 25%;
    filter: invert(100);
    margin-right: 10px;
    padding: 32px;
    height: 88px;
    text-align: left;
    object-fit: contain;
    object-position: 0;
    position: relative;
}

.collapsed {
    width: 100px;
    height: 100%;
    padding: 15px;
    background: rgb(63, 63, 63);
    transition: width .5s ease-in-out;
}

.collapsed:hover {
    width: 150px;
}

.collapsed nav {
    position: fixed;
    width: 70px;
}

.collapsed a {
    color: #fff;
    display: block;
    padding: 15px 0;
    width: 50px;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    transition: width .5s ease-in-out;
    text-decoration: none;
}

.collapsed:hover a {
    width: 100%;
}