.selector{
    width: calc(max-content + 20px);
    position: relative;
}

.selectTitle{
    margin-bottom: 10px;
    display: block;
}

.selector select{
    border: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    color: #fff;
    font-size: 12px;
    margin: 0px;
    padding-bottom: 5px;
    border-radius: 0;
    /* border-bottom: 1px solid; */
    display: block;
    width: 100%;
}

.selector select:focus, .selector select:focus-within, .selector select:focus-visible{
    outline: none;
    border-bottom: 1px solid;
}

.selector::after{
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    transform: rotate(-135deg);
}