.selector{
    width: calc(max-content + 20px);
    position: relative;
    display: flex;
}

.selectTitle{
    margin-bottom: 10px;
    display: block;
}

.selector select{
    border: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    color: #fff;
    font-size: 12px;
    margin: 0px;
    padding-bottom: 5px;
    border-radius: 0;
    /* border-bottom: 1px solid; */
    display: block;
    width: 100%;
}

.selector select:focus, .selector select:focus-within, .selector select:focus-visible{
    outline: none;
    border-bottom: 1px solid;
}

.dropdown-menu__content{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
    font-weight: lighter;
    width: max-content;
    max-height: 500px;
    overflow: scroll;
    background: #fff;
    color: #808080;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    /* display: none; */
    list-style: none;
}

.dropdown-menu__content li{
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dropdown-menu__content li:hover{
    background: #eee;
}

.dropdown-menu__content li:last-child{
    border-bottom: none;
}

.dropdown-menu-button{
    border: none;
    background-color: transparent;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: inherit;
    border-radius: 5px;
    min-width: max-content;
    position: relative;
}

.dropdown-menu-button::after{
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: block;
    margin-left: 10px;
    border-top: 1px solid;
    border-left: 1px solid;
    transform: rotate(-135deg);
}

.selectorContianer{
    z-index: 1;
}