@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 36, 36);
    color: rgb(197, 197, 197);
    font-family: "Questrial", Arial, Helvetica, sans-serif;
    margin: 0;
}

.grid-container{
    display: grid;
}

.overvieTotal-num {
    font-size: 2.7em;
    margin: 0px;
    margin-block-start: 1em;
    color: rgb(239, 239, 239);
}

.main-grid {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    scroll-padding-top: 88px;
    padding-top: 88px;
}